security:

    encoders:
        limubac\administratorBundle\Entity\User: sha512
            

        Symfony\Component\Security\Core\User\User: plaintext

    access_control:
        - { path: ^/partidos, roles: ROLE_ADMIN }
        - { path: ^/hojaAnotaciones, roles: ROLE_ADMIN }
        - { path: ^/finanzas, roles: ROLE_ADMIN }
        - { path: ^/actfin, roles: ROLE_ADMIN }
        - { path: ^/acTorneo, roles: ROLE_ADMIN }

    role_hierarchy:
        
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        #chain_provider:
         #   chain:
          #      providers: [main, default_provider]
        main:
            entity: { class: limubac\administratorBundle\Entity\User, property: username }
        default_provider:
            memory:
                users:
                    Rick: { password: 1234, roles: ['ROLE_ADMIN']}
                    user:  { password: userpass, roles: [ 'ROLE_USER' ] }
                    admin: { password: adminpass, roles: [ 'ROLE_ADMIN' ] }
                    rock: { password: 4880957a2a75f398f689a09a8f4042edac1b6736, roles: [ 'ROLE_ADMIN' ] }

    
    firewalls:
        secured_area:
            provider: main
            http_basic:
                realm: "Secured Demo Area"
                provider: default_provider
            logout: ~
            pattern: ^/
            anonymous: ~
            security: true  
            form_login: ~
                

#        dev:
 #           pattern:  ^/(_(profiler|wdt)|css|images|js)/
  #          security: false
#
 #       demo_login:
  #          pattern:  ^/demo/secured/login$
   #         security: false
#
 #       demo_secured_area:
  #          pattern:    ^/demo/secured/
   #         form_login:
    #            check_path: _demo_security_check
     #           login_path: _demo_login
      #      logout:
       #         path:   _demo_logout
        #        target: _demo
         #   anonymous: ~
          #  http_basic:
           #     realm: "Secured Demo Area"



        #roles: IS_AUTHENTICATED_ANONYMOUSLY
        #, requires_channel: http