{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}

<legend> <P ALIGN=center>Cambio de contrase単a</P></legend>
<div class="col-md-4"></div>
<div class="col-md-6">
	<div class="control-group">
	  	<label class="control-label" for="password">Contrase単a actual</label>
		  	<div class="controls">
		    	<input id="password" name="_password" type="password" placeholder="" class="input-xlarge" required="true">
	    	</div>
	</div>

	<div class="control-group">
	  	<label class="control-label" for="password">Nueva contrase単a</label>
		  	<div class="controls">
		    	<input id="password" name="_password" type="password" placeholder="" class="input-xlarge" required="true">
	    	</div>
	</div>

	<div class="control-group">
	  	<label class="control-label" for="password">Confirmar contrase単a</label>
		  	<div class="controls">
		    	<input id="password" name="_password" type="password" placeholder="" class="input-xlarge" required="true">
	    	</div>
	</div>
</div>

{% endblock %}