{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<h1>Selecciona Equipo</h1>
				{% for equipo in listEquip %}
					<div class="row">
						<option value="{{equipo.idEquipo}}">{{equipo.nombre}}</option>
					</div>
				{% endfor%}
			</div>
			<div class="col-md-5 well">
				<h1>Inscribe un Equipo</h1>
				<div class="DivCentrado">
					<form action="../app_dev.php/equipoNuevo">
						<button type="summit" class="btn btn-primary btn-lg">Inscribir</button>
					</form>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}