{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
		<div class="bordes">
			<div class="formAnotacion form-group">
			{#Fila 1#}
				<label class="col-md-3"><h3>{{equipo.NomEquipo}}</h3></label>
			{#End Fila 1#}
			</br></br></br></br>
			{#Fila 2#}
			<div class="bordes">
				<div class="formAnotacion form-group">
					<div class="col-md-3">		    			
						{% for equipo in listEquip %}
							
						{% endfor%}
					</div>	
					<input type="submit" class="btn btn-primary col-md-1">
			
				</div>
			</div>
			{#End Fila 2#}
			</div>
		</div> 
		
{% endblock %}