{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  
  Gracias por hacer uso del sistema Limubac.

</div>

{% endblock %}