{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}


	<form class="form-horizontal" role="form" action="../app_dev.php/addrol">

    <div class="row-fluid">
      <div class="col-md-12 borBox wellDark btn-dashboard">
        <div class="formRol form-group">
          <h3 class="col-md-7">Accion</h3>
			<select name=categoria[]'>
				<option value='0' selected>Elige una categoria:</option>
				{% for categ in categs %}
				<option value='{{categ.idCategoria}}'> {{categ.nombre}}</option>
				{% endfor %}
			</select>
			<select name='rama[]'>
				<option value='0' selected>Elige una rama:</option>
				<option value='1'> Varonil</option>
				<option value='2'> Femenil</option>
			</select>
          <div class="btn-group sharp pull-right">
            {% for rol in rols %}
            <button class="btn btn-mini btn-success" type='submit' name='rol[]' value ='{{rol}}'></i> Crear Nuevo Rol {{rol}}</button>
			<!--<a class="btn btn-primary btn-info" href="#"><i class="glyphicon-eye-open glyphicon"></i> checar/editar Rol</a>-->
			{% endfor %}
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}