#logo{
	margin-top: -12px;
	width: 45px;
	height: 45px
}

#icono{
	background-color: transparent;
	border-color: transparent;
}

#equipos{
	background-color: #CF000F;
	color: white;
	font: oblique bold 200% cursive; 

}
#hoja{
	background-color:#26C281;
	color: white;
	font: oblique bold 200% cursive; 
}
#jugadores{
	background-color:#19B5FE;
	color: white;
	font: oblique bold 200% cursive; 
}


#arbitros{
	background-color:#F5D76E;
	color: white;
	font: oblique bold 200% cursive; 
}

#avisos{
	background-color: #BFBFBF;
	color: white;
	font: oblique bold 200% cursive; 
}

#finanzas{
	background-color: #FFCCFF;
	color: white;
	font: oblique bold 200% cursive; 
}

#fl-1 > a> div >div {
	padding: 10px;
}
#fl-1 > div >div {/*Borrar despues de actualizar*/
	padding: 10px;
}

#fl-1 > div > div >img{ /*Borrar despues de actualizar*/
	/*margin-left: 250px;*/
	width: 100px;
	height:100px;
}

#fl-1 > a > div > div  >img{
	/*margin-left: 250px;*/
	width: 100px;
	height:100px;
}
#fl-2{
	margin-top: 30px;
}
#fl-2 > div >div {/*Borrar despues de actualizar*/
	padding: 10px;
}
#fl-2 > div > div >img{/*Borrar despues de actualizar*/
	/*margin-left: 250px;*/
	width: 100px;
	height:100px;
}
#fl-2 > a > div > div  >img{
	/*margin-left: 250px;*/
	width: 100px;
	height:100px;
}
.navbar{

	background-color: #1F4788;
	border-color: #1F4788;
}

.navbar-default .navbar-nav > li > a {
color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #F5AB35;
background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #F5AB35;
background-color: #003171;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #F5AB35;
background-color: #003171;
}

/*Estilo de la hoja de Anotaciones*/
.form-horizontal .form-group{
	margin-left: 0px;
	margin-right: 0px;
}
#VS{
	padding-top: 	7px;
}
.form-group {
 margin-bottom: 1px;
 margin-top: 1px;
}
.ajuste-izq{
	text-align: left;
}
.bordes{

	padding: 5px;
	border: 1px solid black;
	border-radius: 4px;


}

.bordesFaltas{

	padding: 5px;
	border: 1px solid black;
	border-radius: 4px;


}

.Fila2{
	margin-top: 10px;
}

#A{
	margin:auto;
}

.margen-top{
	margin-top: 20px;
}

.margen-bot{
	margin-bottom: 20px;
}

.group2{
	width: 50px;
	padding-left: 0;

}

.faltascol{
	width: 50%;
}
.boxMarcador{
	width:20px;
}

.AglinBoxB{
	padding-left:0px;
}

/*//Estilos Manejo de errores Hoja de anotacion

//END Estilos Manejo de errores Hoja de anotacion
//overview estilos*/

#overviewcontent{
	background-color:whitesmoke;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:20px;
	border-top:1px solid #be9d53;
	border-bottom:1px solid #be9d53;
}

#tablaOverview{
	margin-top:20px;
	background-color:white;
}
.tablastats{
	margin-top:20px;
	background-color:white;
}
.scoreWinner{
	font-size:large;
	color:#a90b33;
	font-weight:bold;
}
.scoreLooser{
	font-size:large;
	font-weight:bold;
}
.StatLabel{
	margin-bottom:15px
}
/*-----------------------INICIO ESTILOS DE FAFI...NO TOCAR!!!!-----------------------*/



h1{
	font-size: 30px;
	line-height: 36px;
	margin: 0;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}

h3{
	font-size: 18px;
	line-height: 27px;
	margin: 0;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}

.btn {
display: inline-block;
padding: 4px 10px 4px;
margin-bottom: 0;
font-size: 13px;
line-height: 18px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: -ms-linear-gradient(top,#fff,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(top,#fff,#e6e6e6);
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-repeat: repeat-x;
border: 1px solid #ccc;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 0px;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.btn-info {
background-color: #49afcd;
background-image: -ms-linear-gradient(top,#5bc0de,#2f96b4);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
background-image: linear-gradient(top,#5bc0de,#2f96b4);
background-repeat: repeat-x;
border-color: #2f96b4 #2f96b4 #1f6377;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de',endColorstr='#2f96b4',GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.wellDark {
padding: 8px 14px;
background-color: rgba(225,225,225,0.55);
border-radius: 2px;
border: 1px rgb(210,210,210) solid;
height: 45px;
margin-bottom: 20px;
}

.well{
margin-bottom: 40px;
}

.btn-success {
margin-left: 18px;
height:35px;
font-size:20px;
background-color: #5bb75b;
background-image: -ms-linear-gradient(top,#62c462,#51a351);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
background-image: -webkit-linear-gradient(top,#62c462,#51a351);
background-image: -o-linear-gradient(top,#62c462,#51a351);
background-image: -moz-linear-gradient(top,#62c462,#51a351);
background-image: linear-gradient(top,#62c462,#51a351);
background-repeat: repeat-x;
border-color: #51a351 #51a351 #387038;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462',endColorstr='#51a351',GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-mini {
padding: 2px 6px;
font-size: 11px;
line-height: 14px;
}

.table td{
	text-align: center;
}

body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
line-height: 18px;
}

h6 {
font-size: 11px;
color: #999;
text-transform: uppercase;
}

input, textarea, .uneditable-input {
display: inline-block;
width: 210px;
height: 18px;
padding: 0px;
margin-bottom: 9px;
font-size: 13px;
line-height: 18px;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

select{
display: inline-block;
width: 70px;
height: 18px;
padding: 0px;
margin-bottom: 9px;
font-size: 13px;
line-height: 18px;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, button, select, textarea {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-prima {
background-color: #0074cc;
background-image: -ms-linear-gradient(top,#08c,#05c);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#05c));
background-image: -webkit-linear-gradient(top,#08c,#05c);
background-image: -o-linear-gradient(top,#08c,#05c);
background-image: -moz-linear-gradient(top,#08c,#05c);
background-image: linear-gradient(top,#08c,#05c);
background-repeat: repeat-x;
border-color: #05c #05c #003580;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc',endColorstr='#0055cc',GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-prima, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.btn-large {
padding: 9px 14px;
font-size: 15px;
line-height: normal;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 0px;
}

.btn-danger {
background-color: #da4f49;
background-image: -ms-linear-gradient(top,#ee5f5b,#bd362f);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
background-image: linear-gradient(top,#ee5f5b,#bd362f);
background-repeat: repeat-x;
border-color: #bd362f #bd362f #802420;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b',endColorstr='#bd362f',GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.sp {
margin-bottom: 20px;
clear: both;
}

.sideBar {
padding-top: 20px;
}

.upBar {
padding-top: 80px;
}


#submit {
	display: none;
}
form .icon, form .submit {
	width: 28px;
	height: 28px;
	background: #49afcd;
	display: block;
	position: absolute;
	top: 0;
	right: 0;

}
form .submit {
	background: #009bff;
	cursor: pointer;

}
form .icon:after, form .submit:after  {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border: 2px solid white;
	border-radius: 50%;
	left: 8px;
	top: 7px;
}
form .icon:before, form .submit:before {
	content: '';
	position: absolute;
	height: 8px;
	width: 2px;
	background: white;
	transform: rotate(-35deg);
	top: 15px;
	left: 17px;
}
form #search {
	-webkit-appearance: none;
	height: 35px;
	width: 0;
	position: absolute;
	padding: 0;
	opacity: 0;
	border: none;
	outline: none;
	position: absolute;
	right: 35px;


}

.TFtable tr:nth-child(odd){
	background: #b8d1f3;
}
.TFtable tr:nth-child(odd){
	background: #FFFFFF;
}

h4 {
font-size: 14px;
	color: #000;
	text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 18px>
}

h5 {
font-size: 11px;
color: #fff;
text-transform: uppercase;
}


/* Above is to load Google Fonts in our page.*/
#preview{
height:180px;
width:180px;
text-align:center;
margin:20px;
display:none
}

#previewimg{
height:140px;
width:140px;
float:left;
padding:8px;
border:1px solid #e4d3c3;
margin-bottom:5px
}

/*-----------------------FINAL ESTILOS DE FAFI...NO TOCAR!!!!------------------------*/
/* Ya los toque... :3 */
/*------------------Estilos Equipo----------*/

#DivCentrado{
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width:200px;
}


#p1{
	width: 20px;
	height: 20px;
}

/* -----------------------ESTILOS PARA EL NUEVO REGISTRO DE UN USUARIO -------------- */

#asteriscos{
	color: red;
}

/* -----------------------ESTILOS PARA EL NUEVO REGISTRO DE UN USUARIO -------------- */
#nombre_nuevo, #password_nuevo, #confirmacion_nuevo, #telefono_nuevo, #correo_nuevo, #direccion_nuevo, #seleccion_nuevo,
#mensaje_nuevo{
	width: 400px;
}

#palomita_nuevo{
	background-color: transparent;
}


/* ------ ESTILO PARA LAS CAJAS DE LA ACTUALIZACION DE LA INFORMACION DE PERFIL ----------*/
#actInf{
	width: 400px;
}

/* ------ ESTILO PARA LAS CAJAS DE CONTACTO EN EL PERFIL ----------*/
#contacto{
	width: 400px;
}
#contacto_msj{
	width: 500px;
	height: 300px;
}
/* ---------- ESTILO PARA LOS ICONOS DE LAS REDES SOCIALES -------------*/
#rs{
	width: 30px;
	height: 30px;
	
}
